
.chart-bar{
    -fx-background-color: transparent;
}
.chart-plot-background {
   -fx-background-color: transparent;
}

.data0.chart-bar{
    -fx-background-color: #2B49B3;
    -fx-background-radius: 3px 3px 0px 0px
}
.data1.chart-bar{
    -fx-background-color: #2B49B3;
    -fx-background-radius: 3px 3px 0px 0px
}
.data2.chart-bar{
    -fx-background-color: #2B49B3;
    -fx-background-radius: 3px 3px 0px 0px
}
.data3.chart-bar{
    -fx-background-color: #2B49B3;
    -fx-background-radius: 3px 3px 0px 0px
}
.data4.chart-bar{
    -fx-background-color: #2B49B3;
    -fx-background-radius: 3px 3px 0px 0px
}
.data5.chart-bar{
    -fx-background-color: #2B49B3;
    -fx-background-radius: 3px 3px 0px 0px
}
.data6.chart-bar{
    -fx-background-color: #2B49B3;
    -fx-background-radius: 3px 3px 0px 0px
}
.data7.chart-bar{
    -fx-background-color: #2B49B3;
    -fx-background-radius: 3px 3px 0px 0px
}
.data8.chart-bar{
    -fx-background-color: #2B49B3;
    -fx-background-radius: 3px 3px 0px 0px
}
.data9.chart-bar{
    -fx-background-color: #2B49B3;
    -fx-background-radius: 3px 3px 0px 0px
}
.data10.chart-bar{
    -fx-background-color: #2B49B3;
    -fx-background-radius: 3px 3px 0px 0px
}
.data11.chart-bar{
    -fx-background-color: #2B49B3;
    -fx-background-radius: 3px 3px 0px 0px
}

.default-color0.chart-pie { -fx-pie-color: #50b1af; }
.default-color1.chart-pie { -fx-pie-color: #f2a945; }
.default-color2.chart-pie { -fx-pie-color: #eb4769; }
